body {
  background: linear-gradient(120deg, #0a1f44, #0b3d2e);
  color: #f4f4f4;
  font-family: 'Poppins', sans-serif;
}

.logo {
  font-family: 'Playfair Display', serif;
  font-size: 28px;
  letter-spacing: 3px;
  color: #d4af37;
}

nav a {
  color: white;
  transition: 0.3s;
}

nav a:hover {
  color: #d4af37;
}

.category-title {
  font-family: 'Playfair Display', serif;
  letter-spacing: 2px;
  color: #d4af37;
}

/* CARD */
.auction-card {
  background: rgba(0,0,0,0.4);
  border-radius: 15px;
  overflow: hidden;
  border: 1px solid rgba(255,255,255,0.1);
  transition: .4s;
}

.auction-card:hover {
  transform: translateY(-10px);
  border: 1px solid #d4af37;
}

.auction-card img {
  width: 100%;
  height: 230px;
  object-fit: cover;
}

.auction-card h5 {
  margin-bottom: 8px;
}

.auction-card p {
  margin: 0;
  opacity: 0.7;
  font-size: 14px;
}

.auction-card span {
  display: block;
  margin: 8px 0;
  font-size: 18px;
  font-weight: bold;
  color: #d4af37;
}
